.app1 {
    background-image:url(/app/img/app1.jpg);
    background-repeat: no-repeat;
    // background-size: 100%;
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: center;
    align-items: center;


    main {
            justify-content: flex-end;
            @include ipad {
              justify-content: center;
            }
        }
    &_item {
        flex-basis: 40%;
        color:$white;
        @include ipad {
            justify-content: center;
            flex-basis: 80%;
          }
        @include tf {
            flex-basis: 80%;
        }
    } 
    .buttun {
        margin: 57px auto;
    }
}     