.app2 {
    background-image:url(/app/img/6f8d5e07907148d263048ec5f3ba10ec.jpg);
    background-repeat: no-repeat;
    // background-size: 100%;
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tf {
        display: none;
    }
    main {
            justify-content: flex-end;
            @include ipad {
                justify-content: center;
            }

    }
    &_item {
        flex-basis: 40%;
        color:$white;
        @include ipad {
            justify-content: center;
            flex-basis: 80%;
          }
        
    }
}