.app1 {
    background-image:url(/app/img/app1.jpg);
    background-repeat: no-repeat;
    // background-size: 100%;
    background-size: cover;
    background-position: center top;


    main {
            justify-content: flex-end;
            @include ipad {
              justify-content: center;
            }
        }
    &_item {
        flex-basis: 40%;
        color:$white;
    }   
        }