.footer {
    min-height: 231px;
    background-color: $fyx;
    display: flex;
    justify-content: center;
    align-items: center;
    main {
        justify-content: space-between;
        align-items: center;
        color:$white;
        @include tf {
            flex-direction: column;
        }
    }
    &_but {
        margin-top: 0;
        @include tf {
            margin-top: 50px;
        }
    }
}