@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
main {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-family: Abel, sans-serif;
  font-size: 24px;
  line-height: 1.5em; }

section {
  min-height: 512px;
  padding: 57px 0;
  display: block; }

main {
  display: flex;
  height: 100%;
  letter-spacing: 10%; }

a {
  text-decoration: none;
  display: block;
  color: #FFFFFF;
  text-transform: uppercase; }
  @media screen and (max-width: 520px) {
    a {
      margin: 0 auto;
      text-align: center; }
      a .buttun {
        margin: 57px 0px 0px 0px; } }

.buttun {
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  text-align: center;
  width: 210px;
  margin: 57px auto; }

.header {
  background: linear-gradient(90deg, #7F2F4A 10.63%, #384C85 88.13%), #FFFFFF;
  color: #FFFFFF; }
  @media screen and (max-width: 768px) {
    .header {
      min-height: 100%;
      text-align: center; } }
  .header main {
    flex-direction: column;
    justify-content: space-between; }
  .header_menu {
    border-bottom: 1px solid #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px; }
    @media screen and (max-width: 768px) {
      .header_menu {
        flex-direction: column;
        text-align: center;
        border-bottom: 0;
        text-align: center; } }
  .header_logo {
    width: 132px; }
    @media screen and (max-width: 768px) {
      .header_logo {
        width: 100%;
        margin-bottom: 46px;
        border-bottom: 1px solid #FFFFFF;
        padding-bottom: 13px;
        text-align: center; } }
  .header_ul {
    list-style-type: none;
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 520px) {
      .header_ul {
        display: none;
        text-align: center; }
        .header_ul .buttun {
          margin: 57px 0px 0px 0px; } }
  .header_li {
    margin-left: 69px;
    font-size: 16px;
    line-height: 24px; }
    .header_li::after {
      content: "";
      display: block;
      border-bottom: 1px solid #FFFFFF;
      margin-top: 21px;
      transform: scale(0);
      transition: all 0.3s; }
    .header_li:hover::after {
      transform: scale(1); }
    @media screen and (max-width: 768px) {
      .header_li {
        margin: 0px 35px;
        text-align: center; } }
  .header_text {
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 10px;
    margin: 40px 0; }
    @media screen and (max-width: 768px) {
      .header_text {
        text-align: center;
        text-align: center; } }

.about {
  color: #384C85;
  display: flex;
  justify-content: center;
  align-items: center; }
  .about main {
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 520px) {
      .about main {
        flex-direction: column;
        text-align: center; }
        .about main .buttun {
          margin: 57px 0px 0px 0px; } }
  .about h2 {
    color: #7F2F4A;
    text-transform: uppercase;
    margin-bottom: 25px; }
  .about_item {
    flex-basis: 40%; }
    @media screen and (max-width: 520px) {
      .about_item {
        margin-bottom: 60px;
        text-align: center;
        text-align: center; }
        .about_item .buttun {
          margin: 57px 0px 0px 0px; } }

.footer {
  min-height: 231px;
  background-color: #384C85;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer main {
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF; }
    @media screen and (max-width: 520px) {
      .footer main {
        flex-direction: column;
        text-align: center; }
        .footer main .buttun {
          margin: 57px 0px 0px 0px; } }
  .footer_but {
    margin-top: 0; }
    @media screen and (max-width: 520px) {
      .footer_but {
        margin-top: 50px;
        text-align: center; }
        .footer_but .buttun {
          margin: 57px 0px 0px 0px; } }

.app1 {
  background-image: url(/app/img/app1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: flex;
  justify-content: center;
  align-items: center; }
  .app1 main {
    justify-content: flex-end; }
    @media screen and (max-width: 768px) {
      .app1 main {
        justify-content: center;
        text-align: center; } }
  .app1_item {
    flex-basis: 40%;
    color: #FFFFFF; }
    @media screen and (max-width: 768px) {
      .app1_item {
        justify-content: center;
        flex-basis: 80%;
        text-align: center; } }
    @media screen and (max-width: 520px) {
      .app1_item {
        flex-basis: 80%;
        text-align: center; }
        .app1_item .buttun {
          margin: 57px 0px 0px 0px; } }
  .app1 .buttun {
    margin: 57px auto; }

.app2 {
  background-image: url(/app/img/6f8d5e07907148d263048ec5f3ba10ec.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 520px) {
    .app2 {
      display: none;
      text-align: center; }
      .app2 .buttun {
        margin: 57px 0px 0px 0px; } }
  .app2 main {
    justify-content: flex-end; }
    @media screen and (max-width: 768px) {
      .app2 main {
        justify-content: center;
        text-align: center; } }
  .app2_item {
    flex-basis: 40%;
    color: #FFFFFF; }
    @media screen and (max-width: 768px) {
      .app2_item {
        justify-content: center;
        flex-basis: 80%;
        text-align: center; } }

.contacts {
  color: #384C85;
  display: flex;
  justify-content: center;
  align-items: center; }
  .contacts main {
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 520px) {
      .contacts main {
        flex-direction: column;
        text-align: center; }
        .contacts main .buttun {
          margin: 57px 0px 0px 0px; } }
  .contacts h2 {
    color: #7F2F4A;
    text-transform: uppercase;
    margin-bottom: 25px; }
  .contacts_item {
    flex-basis: 50% 40%; }
    @media screen and (max-width: 520px) {
      .contacts_item {
        margin-bottom: 60px;
        text-align: center;
        text-align: center; }
        .contacts_item .buttun {
          margin: 57px 0px 0px 0px; } }
  .contacts_text {
    color: #7F2F4A; }

/*# sourceMappingURL=style.css.map */
